$('.modal-content').replaceWith(`<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h1 class="modal-title">Thank you! We will be in contact ASAP!</h1>
    </div>
  </div>
</div>`)


//$('#myModal').hide()

//$('#myModal').on('hidden', function () {
  // Load up a new modal...
//  $('#successModal').show()
//})
