<div class="gallery">

<div class="montserrat text-center space-gallery">
  <h1><b>Check out our work!</b></h1>
</div>

<div class="row">
    <div class="offset-md-2 col-md-12">
        <div class="row space-gallery">
            <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid img-fitter">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                <img src="https://unsplash.it/600.jpg?image=252" class="img-fluid img-fitter">
            </a>
            <a href="https://s3.us-east-2.amazonaws.com/williamssimple/MeanGreenSodMachineV3.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                <img src="https://s3.us-east-2.amazonaws.com/williamssimple/MeanGreenSodMachineV3.jpg" class="img-fluid img-fitter">
            </a>
        </div>
        <div class="row space-gallery">
            <a href="https://s3.us-east-2.amazonaws.com/williamssimple/SodRemoval.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                <img src="https://s3.us-east-2.amazonaws.com/williamssimple/SodRemoval.jpg" class="img-fluid img-fitter">
            </a>
            <a href="https://s3.us-east-2.amazonaws.com/williamssimple/SodLayers1.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                <img src="https://s3.us-east-2.amazonaws.com/williamssimple/SodLayers1.jpg" class="img-fluid img-fitter">
            </a>
            <a href="https://s3.us-east-2.amazonaws.com/williamssimple/SodLayers2.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                <img src="https://s3.us-east-2.amazonaws.com/williamssimple/SodLayers2.jpg" class="img-fluid img-fitter">
            </a>
        </div>
        <div class="row space-gallery">
            <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                <img src="https://unsplash.it/600.jpg?image=254" class="img-fluid img-fitter">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                <img src="https://unsplash.it/600.jpg?image=255" class="img-fluid img-fitter">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                <img src="https://unsplash.it/600.jpg?image=256" class="img-fluid img-fitter">
            </a>
        </div>
    </div>
</div>
</div>

<script>
  $(document).on('click', '[data-toggle="lightbox"]', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox();
  });
</script>
