<header class="business-header">
    <div class="container">
        <div class="row">
          <div class="col">
              <h1 class="tagline">Williams Soils & Sod</h1>


              <h5 class="tagline-statement">Family Business Serving South Florida for Over 60 Years</h5>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <hr>


    <div class="row">
        <div class="col-sm-8 montserrat">
            <h1>What We Do</h1>
            <p>We take care of your sodding needs from the planning stage to implementation. In the process, we are guided by your individual wishes, needs and interests, as well as the landscape's character. Resulting in a harmonious concept. And most importantly, when it comes to our product, <b class="red">we always prioritize quality.</b></p>
            <p>We are a family business and have been based out of West Palm Beach for over 60 years, serving all of South Florida.  We are extremely familiar with the needs of the Local Residents, Builders and Landscapers for quality sod and dependable service. No job is too big or too small, for both commerial and residential projects.</p>
            <p>
              <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#myModal">Schedule A Free Estimate!</button>
              <div id="myModal" class="modal fade" role="dialog">
                <%= render :partial => 'contacts/contact_form' %>
              </div>
            </p>
        </div>
        <div class="col-sm-4 montserrat">
            <h1>Contact Us</h1>
            <address>
                <strong>Williams Soils & Sod</strong>
                <br>2580 S Military Trail
                <br>West Palm Beach, FL 33415
                <br>
            </address>
            <address>
                <abbr title="Phone"></abbr><strong class="red phone-size">(561) 967-1591</strong>
                <br>
                <abbr title="Email"></abbr> <a class="red" href="mailto:williamssod@comcast.net">williamssod@comcast.net</a>
            </address>
        </div>
    </div>

    <hr>

    <div class="row montserrat">
        <div class="col-sm-4 img-col">
            <img class="img-circle img-responsive img-center" src="https://s3.us-east-2.amazonaws.com/williamssimple/WilliamsProduct.jpg" alt="">
            <h2>Our Product</h2>
            <p><b class="red">Quality is always our #1 priority</b>, always researching and in connection with our sod farms in Belle Glade. The soil east of Lake Okechobee is called 'Black Gold', some of the most fertile soil in the nation.</p>
            <p>We offer St. Augstine Floratam, Palmetto, Bermuda, Zoysia, Paspalum and Bahia varieties. We also stock Topsoil, Fill, Mulch, Sand and Gravel at our conveniently located facility in West Palm Beach.</p>
        </div>
        <div class="col-sm-4 img-col">
            <img class="img-circle img-responsive img-center" src="https://s3.us-east-2.amazonaws.com/williamssimple/GreenMeanSodMachineV2.jpg" alt="">
            <h2>Our Services</h2>
            <p><b class="red">From consultation, to delivery, to installation, we handle all aspects of your project.</b> Taking into consideration your individual needs and creative aspirations, we can help with professional guidance to see your project through.</p>
            <p>We run two trucks, with our latest upgrade, 'The Mean Green Sod Machine.' <b class="red">We deliver your sod quickly and effectively</b>, moving sod where you need it. Removal and installation is handled as well, with our team of experienced sod layers.</p>
        </div>
        <div class="col-sm-4 img-col">
            <img class="img-circle img-responsive img-center" src="https://s3.us-east-2.amazonaws.com/williamssimple/WilliamsBigJob.jpg" alt="">
            <h2>Our Resources</h2>
            <p>We have the resources to handle any size job. Residential or commercial, <b class="red">no job is too big or too small for us.</b> We have the connections and have built our team up for many years now.</p>
        </div>
    </div>


    <hr>

    <div class="text-center strong montserrat">
      <%= link_to 'See Our Work!', gallery_path, :class => 'btn btn-block btn-lg strong' %>
    </div>


    <footer>
    </footer>

</div>
