<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">561-967-1591</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<header class="business-header">
    <div class="container">
        <div class="row">
          <div class="col">
              <h1 class="tagline">Williams Soils & Sod</h1>


              <h5 class="tagline-statement">Serving South Florida for Over 50 Years</h5>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <hr>


    <div class="row">
        <div class="col-sm-8 montserrat">
            <h2>What We Do</h2>
            <p>We take care of your sodding needs from the planning stage to implementation. In the process, we are guided by your individual wishes, needs and interests, as well as the landscape's character. Resulting in a harmonious concept. And most importantly, when it comes to our product, <b class="red">we always prioritize quality.</b></p>
            <p>We are a family business and have been based out of West Palm Beach for over 50 years, serving all of South Florida.  We are extremely familiar with the needs of the Local Residents, Builders and Landscapers for quality sod and dependable service. No job is too big or too small, for both commerial and residential projects.</p>
            <p>
              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
              <div id="myModal" class="modal fade" role="dialog">
                <%= render :partial => 'contacts/contact_form' %>
              </div>
              <div id="successModal" class="modal fade" role="dialog">
                <%= render :partial => 'contacts/success_modal' %>
              </div>
              <div id="failModal" class="modal fade" role="dialog">
                <%= render :partial => 'contacts/success_modal' %>
              </div>
            </p>
        </div>
        <div class="col-sm-4">
            <h2>Contact Us</h2>
            <address>
                <strong>Williams Soils & Sod</strong>
                <br>2580 S Military Trail
                <br>West Palm Beach, FL 33415
                <br>
            </address>
            <address>
                <abbr title="Phone"></abbr><b>(561) 967-1591</b>
                <br>
                <abbr title="Email"></abbr> <a href="mailto:#">williamssod@comcast.net</a>
            </address>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="https://s3.us-east-2.amazonaws.com/williamssimple/WilliamsProductV3.jpg" alt="">
            <h2>Our Product</h2>
            <p>Quality is always our #1 priority, we are always researching and in connection with our sod farms in Belle Glade. The soil east of Lake Okechobee is called 'Black Gold', some of the most fertile soil in the nation.</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="https://s3.us-east-2.amazonaws.com/williamssimple/GreenMeanSodMachineV2.jpg" alt="">
            <h2>The Mean Green Sod Machine</h2>
            <p>We run two trucks, with our latest upgrade, The Mean Green Sod Machine. We can deliver your sod quickly and effectively, moving sod where you need it.</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="https://s3.us-east-2.amazonaws.com/williamssimple/WilliamsBigJob.jpg" alt="">
            <h2>No job is too big or too small</h2>
            <p>We have the resources to handle any size job. Residential or commercial, no job is too big or too small for use.</p>
        </div>
    </div>


    <hr>


    <footer>
    </footer>

</div>
