<!DOCTYPE html>
<html>
  <head>
    <title>Williams</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>

  
</html>
